.form-input__controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;     
}

.form-input__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-input__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 20rem;
  max-width: 100%;
}

.form-input__checkbox {
    padding: 0.5rem;
}



